@import url('https://fonts.googleapis.com/css?family=Baloo|Open+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #F0E5D1;
    margin: 0;
}

main {
    padding-bottom: 325px;
}

nav {
    display: grid;
    height: 100%;
    width: 100%;
    background-color: #241E16;
}

nav ul {
    position: fixed;
    width: 100%;
    display: flex;
    margin: 0 auto 10px;
    flex-direction: row;
    background-color: #241E16;
    justify-content: space-around;
    list-style: none;
    padding: 15px;
    font-family: Baloo, sans-serif;
    font-size: 1.5rem;
}

nav a,
nav a:visited {
    text-decoration: none;
    color: #fff;
}

.active {
    background-color: #F2B138;
    padding: 15px 5px;
}

section {
    font-family: "Open Sans", sans-serif;
    width: 90%;
    margin: 0 auto;
    padding-top: 75px;
    max-width: 850px;
}

footer {
    background-color: #241E16;
    color: #fff;
    text-align: center;
    height: 50px;
    padding-top: 2px;
}

@media (min-width: 555px) {
    main {
        padding-bottom: 375px;
    }

}

@media (min-width: 675px and max-width:1199px) {
    main {
        padding-bottom: 450px;
    }

}

@media (min-width: 1200px) {
    main {
        padding-bottom: 500px;
    }

    nav ul {
        justify-content: center;
    }

    nav li {
        margin: 0 5rem;
    }
}