@import url('https://fonts.googleapis.com/css?family=Baloo|Open+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #F0E5D1;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-template-areas:
        'hdr'
        'mn'
        'ftr';
}

.page-header {
    grid-area: hdr;
}

nav {
    display: grid;
    height: 100%;
    width: 100%;
    background-color: #241E16;
}

nav ul {
    position: fixed;
    width: 100%;
    display: flex;
    margin: 0 auto 10px;
    flex-direction: row;
    background-color: #241E16;
    justify-content: space-around;
    list-style: none;
    padding: 15px;
    font-family: Baloo, sans-serif;
    font-size: 1rem;
}

nav a,
nav a:visited {
    text-decoration: none;
    color: #fff;
}

main {
    grid-area: mn;
    display: grid;
    grid-template-columns: 1fr;
}

h2 {
    margin: 5px 0 10px;
}

.selected {
    background-color: #F2B138;
    padding: 15px 5px;
}

section {
    font-family: "Open Sans", sans-serif;
    width: 90%;
    height: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 25%;
    padding-top: 85px;
    max-width: 850px;
}

.active {
    background-color: #C12432;
    color: #fff;
    padding: 10px;
    border-radius: 25px;
}

section:last-of-type {
    margin-bottom: 27.5%;
    margin-top: 2.5%;
}

footer {
    grid-area: ftr;
    background-color: #241E16;
    color: #fff;
    text-align: center;
    height: 100%;
    padding-top: 2px;
}

@media (min-width: 480px) {
    nav ul {
        font-size: 1.5rem;
    }

}

@media (min-width: 1200px) {

    nav ul {
        justify-content: center;
    }

    nav li {
        margin: 0 5rem;
    }
}